header {
  background-color: lightgray;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  height: 30px;
  width: 80px;
  margin: 10px
}

header a {
  text-decoration: none;
}

.content {
  display: flex;
}

section {
  padding: 20px;
  width: 30%;
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

footer {
  background-color: lightgray;
}

@media screen and (max-width: 500px) {
  .content {
    display: block;
  }

  .section {
    width: 100%;
  }
}

@media screen and (max-width: 680px) and (min-width: 500px) {
  .content {
    display: block;
  }
  
  .section {
    width: 50%;
  }
}
